.topbar {
    background-color: black ;
    display: flex;
    height: 20px;
    padding: 20px;
    position: relative;
}

.topbar .dropbar-anchor{
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
}


.topbar a {
    text-decoration: none;
    color: rgb(229, 9, 20);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}

.topbar button{
    background-color: red;
    border: red;
    border-radius: 4px;
    font-weight: bold;
}
