.topbar {
    background-color: black ;
    display: flex;
    height: 20px;
    padding: 20px;
    position: relative;
}

.topbar .dropbar-anchor{
    position: absolute;
    top: 20px;
    right: 75px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: red;
    font-size: 26px;
}

.dropbar {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 180px;
    height: 200px;
    background-color: grey;
    z-index: 10;
}



.topbar a {
    text-decoration: inherit;
    color:inherit;
    font-size: inherit;
    font-weight: inherit;
    position: inherit;
    top: inherit;
    left: inherit;
}

.dropbar-anchor a, .dropbar-anchor button {
    padding: 0;
    margin: 0px;
    margin-top: 10px;
    background: transparent;
    border: none;
    color: white;
    font-size: 23px;
}

.dropbar-anchor div{
    padding-bottom: 5px;
    padding-top: 5px;
}


.dropbar-anchor>div {
    position: absolute;
    right: -20px;
    width: 180px;
    right: 0px;
    height: 250px;
    z-index: 12;
    top: -9px;
}

.search-bar-anchor{
    position: absolute;
    right: 120px;
    top: 2.5px;
    color: white;
    cursor: pointer;
    font-size: 50px;
}


.search-bar-anchor input{
    position: absolute;
    right: 0px;
    top: 23px;
    background-color: #313131;
    color: white;

}

.my-home-link {
    text-decoration: none;
    color: rgb(229, 9, 20);
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 10px;
}
.my-list-link {
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 95px;
    width: 170px;
}

.about-me-link{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 145px;
    width: 240px;
}
