.categories {
    background-color: rgb(49, 49, 49);
    overflow: hidden;
}

.categories .category{
    padding: 20px;
    position: relative;
    height: 180px;
}





.category-scroll-left{
    position: absolute;
    width: 60px;
    font-size: 90px;
    height: 125px;
    left: 1380px;
    top: 74px;
    z-index: 5;
    text-align: center;
    opacity: 0;
    color: white;
}
.category-scroll-right{
    position: absolute;
    width: 60px;
    font-size: 90px;
    height: 125px;
    left: 0px;
    top: 74px;
    z-index: 5;
    text-align: center;
    opacity: 0;
    color: white;
}

.category-scroll-right:hover{
    opacity: 1;
    background-color: rgba(55, 55, 55, 0.8);
}

.category-scroll-left:hover{
    opacity: 1;
    background-color: rgba(55, 55, 55, 0.8);
}


.categories ul {
    display: flex;
    list-style: none;
    position: absolute;
    padding: 0px;
    left: 60px;
    z-index: 4;
}

.categories li{
    width: 218px;
    height: 125px;
    background-color: black;
    margin: 1px;
    position: relative;
}

