

.render-zone{
    background-color: #313131;
    padding: 20px;
    position: relative;
    width: 1400px;
    display: flex;  
    min-height: 750px;


}



.render-video-tiles ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0px;
    left: 60px;
    z-index: 4;
}

.render-video-tiles li{
    width: 218px;
    height: 125px;
    background-color: black;
    margin: 7px;
    margin-bottom: 14px;
    position: relative;
}



